.Lightbulb {
  color: red;
  padding: 1rem;
  border: 2px solid black;
  margin: .5rem;

  margin-top: 75px;
}
.content {
  padding: 1rem;
  font-size: 20px;
}
.content button {
  padding: .5rem;
  font-size: 20px;
  margin-top: .5rem;
  border-radius: 1rem;
  background-color: blue;
  color: black;
  border: 2px solid rgb(0, 0, 0);
}